{% extends "plotter/base.html" %}
{% block content %}
<h1>Materials</h1>
<div class='row'>
  <div class='column'>
    <div class='left-column'>
      {% for material in material_list %}
      <div class='row_spacing'>
        <h2>{{material.name}}</h2>
        <p>{{material.description}}</p>
        <a href=" {{material.get_absolute_url}} "> More Info</a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class='column'
    <div class='right-column'>
      {% for material in material_list %}
      <div class='row_spacing'>
        <img src="../../media/images/materials/{{material.id}}.png" alt="No Picture" height="150px">
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
