{% extends "plotter/base.html" %}
{% block content %}
        <h1>Drop Overview</h1>
        <table class='table table-bordered '>
            <tr> <th>Number</th>  <td>{{ drop.id }}</td> </tr>
            <tr> <th>Date</th>  <td>{{ drop.test.date.date }}</td> </tr>
            <tr> <th>Substrate</th>  <td>{{ drop.test.substrate.name }}</td> </tr>
            <tr> <th>Stage Temperature</th>  <td>{{ drop.stage_temp }}&#8451;</td> </tr>
            <tr> <th>Tip Temperature</th>  <td>{{ drop.tip_temp }}&#8451;</td> </tr>
            <tr> <th>Contact Angle</th>  <td>{{ drop.contact_angle }}&#176;</td> </tr>
        </table>

        <h1>Drop Images</h1>
<!-- <div id='drop-carousel' class='carousel slide' data-ride='carousel'> -->
<!--   <ol class="carousel-indicators"> -->
<!--     {% for image in drop.dropimage_set.all %} -->
<!--     <li data-target="#drop-carousel" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %} active {% endif %}"></li> -->
<!--     {% endfor %} -->
<!--   </ol> -->
<!--   <div class='carousel-inner'> -->
<!--     {% for image in drop.dropimage_set.all %} -->
<!--     <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}"> -->
<!--       <img class="d-block w-100 bg-dark" src="{{image.image.url}}" /> --> 
<!--       <div class="carousel-caption d-none d-md-block bg-dark mb-4"> -->
<!--         {% if image.description %} -->
<!--           {{ image.description }} -->
<!--         {% else %} -->
<!--           Test -->
<!--         {% endif %} -->
<!--       </div> -->
<!--     </div> -->
<!--     {% endfor %} -->
<!--   </div> -->
<!--   <a href="#drop-carousel" class="carousel-control-prev" role="button" data-slide="prev"> -->
<!--     <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
<!--     <!-1- <span class="sl-only">Previous</span> -1-> -->
<!--   </a> -->
<!--   <a href="#drop-carousel" class="carousel-control-next" role="button" data-slide="next"> -->
<!--     <!-1- <span class="sl-only">Next</span> -1-> -->
<!--     <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
<!--   </a> -->
<!-- </div> -->

<div id="myGroup">
{% for i in drop.dropimage_set.first.choices %}
<button class="btn btn-primary " type="button" data-toggle="collapse" data-target="#{{i.1}}Collapse" aria-expanded="false" aria-controls="{{i.1}}Collapse" > {{i.1}} </button>
{% endfor %}
<div class="accordion-group">
{% for i in drop.dropimage_set.first.choices %}
<div class="collapse {% if forloop.counter == 1 %}show {% endif %}" id="{{i.1}}Collapse" data-parent="#myGroup">
  <div class="card card-body">

    <div id='{{i.1}}-carousel' class='carousel slide' data-ride='carousel'>
  <ol class="carousel-indicators">
    {% for image in drop.dropimage_set.all %}
    {% if image.image_type == i.1 %}
    <li data-target="#{{i.1}}-carousel" data-slide-to="{% cycle '0' '1' '2' '3' '4' '5' '6' '7' '8' '9' '10' %}" class="{% if forloop.counter0 == 0 %} active {% endif %}"></li>
    {% endif %}
    {% endfor %}
    {% resetcycle %}
  </ol>
  <div class='carousel-inner'>
    {% for image in drop.dropimage_set.all %}
    {% if image.image_type == i.1 %}
    {% cycle '0' '1' '2' '3' '4' '5' '6' '7' '8' '9' '10' as j silent %}
    <div class="carousel-item {% if j == '0' %} active {% endif %}">
      <img class="d-block w-100 bg-dark" src="{{image.image.url}}" /> 
      <div class="carousel-caption d-none d-md-block bg-dark mb-4">
        {% if image.description %}
          {{ image.description }}
        {% else %}
          Test
        {% endif %}
      </div>
    </div>
    {% endif %}
    {% endfor %}
    {% resetcycle %}
  </div>
  <a href="#{{i.1}}-carousel" class="carousel-control-prev" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <!-- <span class="sl-only">Previous</span> -->
  </a>
  <a href="#{{i.1}}-carousel" class="carousel-control-next" role="button" data-slide="next">
    <!-- <span class="sl-only">Next</span> -->
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>
  </div>
</div>
{% endfor %}
</div>
</div>


{% endblock content %}
