{% extends "plotter/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-xl-auto'>
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Substrates</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Update Plot</button>
                    </div>
                </form>
            </div>
            <div class='col-xl'>
                {% autoescape off %}
                {{ plot_div }}
                {% endautoescape %}
            </div>
        </div>
    </div>
    <script>
        var plot_element = document.getElementById('{{ div_id }}');
        plot_element.on('plotly_click', function(data){{
            console.log(data);
            var point = data.points[0];
            if (point) {{
                window.open('drop/'.concat(point.customdata[2]), '_self')
            }}
            }})
    </script>
{% endblock content %}
